<!-- 这是弹出添加拼多多数据层 -->
<!-- 修改拼多多客户信息的数据 -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>弹出添加拼多多数据层</title>
  <link rel="stylesheet" href="./layui/css/layui.css">
</head>
<body>

<div class="layui-container" style="margin-top: 20px;">
    <!-- action="/add" method="post" -->
    <form class="layui-form" >
        <input type="hidden" id="id" name="id" >  
        <!-- <div class="layui-form-item">
          <label class="layui-form-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label>
          <div class="layui-input-block">
            <input  width="40px" type="text" id="name" name="name" required  lay-verify="required" placeholder="请输入收件人姓名" autocomplete="off" class="layui-input">
          </div>
        </div>
  
  
        <div class="layui-form-item">
          <label class="layui-form-label">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label>
          <div class="layui-input-block">
            <input  width="40px" type="number" id="mobile"  name="mobile" required  lay-verify="required" placeholder="请输入收件人电话" autocomplete="off" class="layui-input">
          </div>
        </div> -->
  
        <div class="layui-form-item">
          <label class="layui-form-label">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</label>
          <div class="layui-input-block">
            <input  width="40px" type="text" id="address" name="address" required  lay-verify="required" placeholder="请输入收件人地址" autocomplete="off" class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号:</label>
          <div class="layui-input-block">
            <input  width="40px" type="text" id="number" name="number" required   placeholder="请输入收件人地址" autocomplete="off" class="layui-input">
          </div>
        </div>

     
        <div class="layui-form-item">
            <label class="layui-form-label">快递:</label>
            <div class="layui-input-block">
              <input  width="40px" type="text" id="courier" name="courier" required   placeholder="请输入商品编码" autocomplete="off" class="layui-input">
            </div>
          </div>

         
      
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注:</label>
                <div class="layui-input-block">
                    <textarea name="remarks" id="remarks" placeholder="备注该笔订单的信息" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="uppdd" >提交数据</button>
            <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
          </div>
        </div>
      </form>
</div>


<script src="/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(['form','laydate','layer'], function(){
        //var laydate = layui.laydate;
        var form = layui.form;   //要添加这个才能提交成功post数据
        var $ = layui.jquery;
        var layer = layui.layer;

        //弹出层提交表单完成了
        form.on('submit(uppdd)',function(obj){
            ///updatepage?id=3&name=%E4%BF%AE%E6%94%B9%E4%BA%86111&mobile=44&address=44&comcode=444&price=444&cost=44&profit=1&oder=44&remarks=44"
            //要特别id的大小写
            $.post("http://127.0.0.1:8087/upiot/"+obj.field.id,obj.field,function(d){
                if(d.code!=200){
                    layer.msg("修改成功",{time:300},function(){  //{time:1000设置延时关闭时间拼给一个funcntion函数
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        window.parent.location.reload();//刷新父页面
                        parent.layer.close(index);//关闭弹出层
                    });
                   
                }else{
                    layer.msg("添加失败")
                }
                

            })
            return false;  //要加上这个返回为假弹出关闭才会生效
            })
            
    }) //这个是use的括号
</script>
</body>
</html>